<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haha.exam"
    android:versionCode="1"
    android:versionName="1.0.1"> <!-- 集成友盟bug分析 -->
    <uses-sdk android:minSdkVersion="4" />


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_new_year"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58620e57f43e482746001c48" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d44baa12cd472bed4c074cd650ee0151" />
        <activity
            android:name="com.wanzheng.driver.home.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- alipay callback -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105824362" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.OrderTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpecialTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChapterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReciteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PracticeTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TakeOrderActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PraticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RandomTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PracticeStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PracticeResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ErrorQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CollectQuestionActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".activity.SelectCityActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:windowSoftInputMode="adjustUnspecified|stateHidden" /> -->
        <activity
            android:name=".activity.SelectSchoolActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Subject1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SubjectOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReviewErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Anim_fade1"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.SelectQueationBankActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wanzheng.driver.home.Activity_Home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.wanzheng.driver.home.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.wanzheng.driver.home.Activity_Zhuce"
            android:label="@string/title_activity_activity__zhuce"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.wanzheng.driver.RelatedActivity.CurrentOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.wanzheng.driver.home.Activity_VPR"
            android:label="@string/title_activity_activity__zhuce"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.wanzheng.driver.home.Activity_ForgetPwd"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.wanzheng.driver.home.Activity_PerInfor"
            android:label="@string/title_activity_activity__per_infor"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.wanzheng.driver.home.Activity_Pay"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wanzheng.driver.home.Activity_QRcode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wanzheng.driver.home.Activity_OrderShow"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="23382906" />
        <!-- 23327464 -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="1546efa29b55c522496cf9c3da38bb74" />
        <!-- 407abf9fd382bf56d4571138ce6858a0 -->
        <!-- <meta-data -->
        <!-- android:name="com.amap.api.v2.apikey" -->
        <!-- android:value="8cce77fe59afb381a0d04da92042067b" /> -->


        <!-- 通道保持服务 -->
        <service
            android:name="com.alibaba.sdk.android.push.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="taobao" />
            </intent-filter>
        </service>

        <!-- 消息接收服务 -->
        <service
            android:name="com.alibaba.sdk.android.push.MsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION" />
            </intent-filter>
        </service>

        <!-- 阿里 -->
        <!-- 连接心跳保持监听器 -->
        <receiver android:name="anet.channel.heartbeat.HeartbeatManager$Receiver">
            <intent-filter>
                <action android:name="anetwork.channel.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <!-- <meta-data -->
        <!-- android:name="JPUSH_CHANNEL" -->
        <!-- android:value="developer-default" /> -->
        <!-- <meta-data -->
        <!-- android:name="JPUSH_APPKEY" -->
        <!-- android:value="170d0b0b7d73871a5c80a6a1" /> -->
        <!-- </>值来自开发者平台取得的AppKey -->

        <service
            android:name="com.alibaba.mobileim.appmonitor.tiptool.TooltipService"
            android:exported="false" />
        <service
            android:name="com.alibaba.tcms.service.TCMSService"
            android:exported="true"
            android:process=":TcmsService" />

        <!-- 用于接收从TCMSService发送的命令 -->
        <service
            android:name="com.alibaba.tcms.service.ListenerService"
            android:exported="true" />

        <activity
            android:name=".activity.MySchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wanzheng.driver.home.Login2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CoachActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.VideoCollectActivity" />
        <activity
            android:name="com.wanzheng.driver.home.FaceLogin"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.ExaminationDetailActivity" />
        <activity android:name=".activity.WebExaminationActivity" />
        <activity
            android:name=".activity.ExaminationActivity"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".activity.RuleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.TechnologyActivity" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AppointmentActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name="com.wanzheng.driver.home.Activity_PeriodShow" />
        <activity android:name="com.wanzheng.driver.home.BasicMapActivity" />
        <activity android:name="com.wanzheng.driver.RelatedActivity.Activity_PeriodPicShow" />
        <activity android:name="com.wanzheng.driver.RelatedActivity.Activity_MapShow" />
        <activity android:name="com.wanzheng.driver.RelatedActivity.ShowPicActivity"/>
        <activity android:name="com.wanzheng.driver.RelatedActivity.PictureDetail"/>
    </application>

</manifest>